@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@layer base {
  .button:hover img {
    filter: invert(79%) sepia(94%) saturate(1653%) hue-rotate(282deg)
      brightness(105%) contrast(99%);
  }
}
@tailwind components;
@layer components {
  .hamburger-line {
    @apply my-2 w-[30px] h-[2px] bg-slate-800 block;
  }
  .show-nav {
    width: 100% !important;
  }
  .vidio {
    background-image: url('./assets/images/design/polygon.svg');
  }
  ul.breadcrumb li:not(:last-child):after {
    content: '/';
    @apply px-4;
  }

  ul.breadcrumb li:not(:last-child) a {
    @apply font-light;
  }

  ul.breadcrumb li:last-child a {
    @apply font-semibold;
  }
  .button {
    @apply bg-pink-300 rounded-full px-6 py-3 inline-block mt-10 text-slate-900 font-semibold text-base hover:text-pink-300 hover:bg-black transition-all ease-in-out;
  }
  .button-disabled {
    @apply bg-gray-300 rounded-full px-6 py-3 inline-block mt-10 text-slate-900 font-semibold text-base cursor-not-allowed;
  }
  .card-categories {
    @apply overflow-hidden relative h-[180px] hover:scale-95 transition-all duration-500 rounded-3xl;
  }
  .card-row__img {
    @apply w-full h-full object-cover object-center md:object-bottom bg-no-repeat shadow-md group-hover:scale-110 transition-all duration-500 md:absolute;
  }
  .card-row-2 {
    @apply h-[180px] overflow-hidden relative row-span-1 md:row-span-2 md:h-[390px] hover:scale-95 transition-all duration-500 rounded-3xl;
  }
  .grid-cart {
    @apply grid grid-cols-4 md:px-4 mx-auto gap-y-4 gap-x-2 items-center justify-center overflow-hidden w-[315px] h-[90px] md:mx-0 rounded-2xl md:w-full my-6;
  }
  .thumbnail .item {
    @apply relative;
  }
  .thumbnail .item:after {
    content: '';
    @apply transition-all absolute inset-0 bg-black border-2 bg-opacity-0 border-black border-opacity-0 rounded-lg;
  }
  .thumbnail .selected:after {
    content: '';
    @apply bg-opacity-25 border-opacity-100;
  }
  a.cart svg g circle.fill-current {
    @apply hidden;
  }
  a.cart.cart-filled svg g circle.fill-current {
    @apply block;
  }
}
@tailwind utilities;
@layer utilities {
  .stretched-link {
    @apply z-10 absolute inset-0 bg-transparent;
  }
}

.navbar-fixed {
  @apply fixed z-[99] bg-white bg-opacity-70 backdrop-blur-sm;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}
.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}
.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}
